In [1]:
from google_play_scraper import app, reviews, Sort, reviews_all
import pandas as pd
import csv

In [2]:
#Scrape data
result, continuation_token = reviews(
    'com.alfamart.alfagift',
    lang='id',
    country='id',
    sort =Sort.MOST_RELEVANT,
    count=5000,
    filter_score_with=None
)

data = pd.DataFrame(result)
data = data[['at', 'score','content']]
data

,at,score,content
0,2025-02-12 21:12:28,1,"Apk nya ngga banget, pertama kali belanja lewa..."
1,2025-02-13 15:41:57,1,Baru kali ini dikecewain sejadi jadinya sama n...
2,2025-02-11 15:13:46,5,Aplikasi yang sangat bermanfaat untuk kebutuha...
3,2025-02-13 21:05:05,1,Mohon ya perbaiki lagi untuk metode pembayaran...
4,2025-02-13 07:47:51,5,"Banyak promo, Barang lengkap, dan pastinya kal..."
...,...,...,...
4995,2022-07-04 09:55:50,1,Deliverynya bukan dari alfa terdekat ternyata....
4996,2023-12-15 13:29:31,5,Saya senang sekali bisa belanja praktis di Alf...
4997,2020-08-03 21:24:39,1,Plisss dong kasi tau gimana cara nya biar ni a...
4998,2021-11-08 16:46:47,1,Sejak install ini point ponta ga bisa ditukark...
4999,2023-11-01 17:17:26,2,Sebetulnya praktis ditinggal tunggu di rumah ....